@model _66bitProject.Models.ViewModels.CreateUserViewModel
@using Microsoft.AspNetCore.Identity
@{
    ViewBag.Title = "Создание пользователя";
}
<form asp-action="Create" asp-controller="User" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="AllRoles" />
    </div>
    <div class="form-group">
        <label asp-for="FullName" class="control-label">ФИО</label>
        <input type="text" asp-for="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Почта</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="control-label">Дата рожденияl</label>
        <input type="date" asp-for="BirthDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentDate" class="control-label">Дата выплаты зарплаты</label>
        <input type="date" asp-for="PaymentDate" class="form-control" asp-format="{0:MM/dd}" />
    </div>
    <div class="form-group">
        <label asp-for="HourPayment" class="control-label">Размер почасовой оплаты</label>
        <input type="number" asp-for="HourPayment" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MonthlyPayment" class="control-label">Месячная зарплата</label>
        <input type="number" asp-for="MonthlyPayment" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PaymentFrequency" class="control-label">Частота выплат</label>
        <input type="number" asp-for="PaymentFrequency" class="form-control" />
    </div>
    <h2>Роли</h2>
    <div class="form-group">
        @foreach (IdentityRole<int> role in @Model.AllRoles)
        {
            <input type="radio" name="role" value="@role.Name" @(role.Name == "employee" ? "checked=\"checked\"" : "")/>@role.Name <br />
         }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
