@model IEnumerable<_66bitProject.Models.User>

<div>
    <h3>Итого за месяц</h3>
    <p>@Model.Sum(u => u.MothlyPayment)</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <tr><td>ФИО сотрудника</td><td>Зарплата</td></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.MothlyPayment</td>
                <td><form method="get" asp-action="CreateBonusForEmployee"><button type="submit" name="userId" value="@user.Id">Добавить премию</button></form></td>
            </tr>
        }
    </table>
</div>
<button onclick='javascript:history.go(-1)'>Назад</button>