@model _66bitProject.Models.User

<div>
    <a asp-action="DisplayAllEmployeesRevenues">Зарплаты сотрудников</a>
</div>
<div>
    <a asp-action="DisplayAllEmployeeBonuses">Премии сотрудников</a>
</div>
<div>
    <a asp-action="ShowAllExpenses">Список расходов на текущий месяц</a>
</div>