@model _66bitProject.Models.ViewModels.OverworkInfoViewModel


<text>ФИО</text>
<br />
<text>@Model.EmployeeFullName</text>
<br />
<br />
<text>Описание</text>
<br />
<text>@Model.Description</text>
<br />
<br />
<text>Время и сумма</text>
<br />
<text>@Model.HoursCount часа + @Model.CalculatedValue р</text>
<br />
<br />

<div>
    <button onclick='javascript:history.go(-1)'>Назад</button>
</div>