@model _66bitProject.Models.ViewModels.CreateOverworkViewModel
<form asp-action="Create" asp-controller="Overwork" asp-antiforgery="true">
    <div>
        <label asp-for="HoursCount"></label>
        <input type="number" asp-for="HoursCount" />
    </div>
    
      <div>  
        <label asp-for="ProjectId"></label>
        <p>
            <select size="1" asp-for="ProjectId">
                @foreach (var pr in ViewBag.Projects)
                {
                    <option value="@pr.Id">@pr.Name</option>
                }
            </select></p>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />
    </div>

    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
