@model Overwork

<div>
    <dl class="dl-horizontal">
        <dt>Сотрудник</dt>
        <dd>@Model.Person.FullName</dd>

        <dt>Переработал часов</dt>
        <dd>@Model.HoursCount</dd>

        <dt>Работа над проектом</dt>
        <dd>@Model.Project.Name</dd>

        <dt>Комментарии<dt>
        <dd>@Model.Description</dd>
    </dl>
</div>