@model IEnumerable<_66bitProject.Models.User>

<form method="post" asp-controller="Overwork" asp-action="ShowOwnOverworks">
    <input type="submit" value="Просмотреть статус переработок" />
</form>
<form method="get" asp-controller="Overwork" asp-action="Create">
    <input type="submit" value="Добавить переработку" />
</form>