@model IEnumerable<_66bitProject.Models.User>

<form method="post" asp-controller="Programmer" asp-action="EmployeeOwnCosts">
    <input type="submit" value="Просмотреть и добавить расходы" />
</form>