@model IEnumerable<_66bitProject.Models.User>

<form method="post" asp-controller="Programmer" asp-action="EmployeeOwnCosts">
    <input type="submit" value="Расходы" />
</form>
<form method="post" asp-controller="Programmer" asp-action="EmployeeOwnOverworks">
    <input type="submit" value="Переработки" />
</form>