@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("admin"))
    {
        <form method="get" asp-controller="User" asp-action="Index">
            <input type="submit" value="Кабинет администратора" />
        </form>
    }
    else if (User.IsInRole("employee"))
    {
        <form method="get" asp-controller="Programmer" asp-action="Index">
            <input type="submit" value="Личный кабинет" />
        </form>
    }
    else if (User.IsInRole("manager"))
    {
        <form method="get" asp-controller="Manager" asp-action="Index">
            <input type="submit" value="Личный кабинет" />
        </form>
    }
    else if (User.IsInRole("financialSpec"))
    {
        <form method="get" asp-controller="FinancialSpec" asp-action="Index">
            <input type="submit" value="Личный кабинет" />
        </form>
    }
    else if (User.IsInRole("director"))
    {
        <form method="get" asp-controller="Director" asp-action="Index">
            <input type="submit" value="Личный кабинет" />
        </form>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>

}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
