@model IEnumerable<_66bitProject.Models.User>

<form method="post" asp-controller="Manager" asp-action="ManagerOwnCosts">
    <input type="submit" value="Просмотреть и добавить собственные расходы" />
</form>