@model IEnumerable<_66bitProject.Models.User>

<form method="post" asp-controller="EmployeeCost" asp-action="ShowOwnCosts">
    <input type="submit" value="Просмотреть расходы" />
</form>
<form method="get" asp-controller="EmployeeCost" asp-action="Create">
    <input type="submit" value="Добавить расходы" />
</form>