@model _66bitProject.Models.ViewModels.CreateEmployeeCostViewModel
<form asp-action="Create" asp-controller="EmployeeCost" asp-antiforgery="true">
    <div>
        <label asp-for="Name">Имя</label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <label asp-for="Category">Категория</label>
        <input type="text" asp-for="Category" />
    </div>
    <div>
        <label asp-for="Value">Сумма</label>
        <input type="number" asp-for="Value" />
    </div>
    <div>
        <label asp-for="Description">Описание</label>
        <input type="text" asp-for="Description" />
    </div>
    <div>
        <label asp-for="Date">Дата</label>
        <input type="date" asp-for="Date" />
    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>