@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<EmployeeCost>
@{
    ViewBag.Title = "Все расходы";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <tr><td>Description</td><td>Name</td><td>Value</td><td>Status</td></tr>
        @foreach (var e in Model)
        {
    <tr><td>@e.Description</td><td>@e.Name</td><td>@e.Value</td>@if (e.Status == null)
                {<td>"Не решено"</td> }
                else if ((bool)e.Status)
                {<td>"Одобрено"</td>}
                else
                {<td>"Отклонено"</td>}</tr>
        }
    </table>
</div>

<button onclick='javascript:history.go(-1)'>Назад</button>